<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset= "UTF -8">
    <meta name="viewport" content=" "witdth=device-width, initial-scale="1.0">
    <title>proyecto paython </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="titulo">
        <h1>Compra tu coca ya</h1>
    </div>
    <div class="subtitulo">
        <p>Esto es sólo un párrafo de texto</p>
    </div>
    <div class="list-img">
        <ul>
            <li>Este es un elemento de una lista de viñetas (la primera)</li>
            <li>Y este es el segundo elemento</li>
        </ul>
        <img src="PEGUE AQUÍ UN ENLACE A LA IMAGEN" alt="Image 1">
    </div>
</body>